In [1]:
import findspark
findspark.init('/opt/spark')
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Data-Importer") \
    .enableHiveSupport() \
    .getOrCreate()

spark.sql("set hive.exec.dynamici.partition=true;")
spark.sql("set hive.exec.dynamic.partition.mode=nonstrict;")

DataFrame[key: string, value: string]

In [2]:
# create database time_series
spark.sql("DROP TABLE IF EXISTS time_series;")
spark.sql("CREATE TABLE IF NOT EXISTS time_series\
         (id bigint,\
          time TIMESTAMP,\
          lon float,\
          lat float)\
PARTITIONED BY(area int)\
ROW FORMAT DELIMITED\
STORED AS PARQUET\
;")

# create database job
spark.sql("DROP TABLE IF EXISTS job;")
spark.sql("CREATE TABLE IF NOT EXISTS job\
(id bigint,start_time TIMESTAMP,end_time TIMESTAMP);")

# 创建输出表
#CREATE TABLE output(id SERIAL PRIMARY KEY,job_id int4);

DataFrame[]

In [3]:
import csv
import random
import datetime
import random
import uuid
import time

In [4]:


num_points=1000000
partition_nums = 10

def generate_id():
    start_num = [110,111,112,113,114,115,116,117,118,119,120]
    random_pn = random.randrange(0, len(start_num))
    random_num = str(random.randint(0, 99999999))
    id = "{}{:0<8}".format(start_num[random_pn], random_num)
    return id


def generate_utc():
    current_time = datetime.datetime.now()
    # utc = current_time.strftime("%Y-%m-%d %H:%M:%S")
    return int(round(current_time.timestamp()))

    
def generate_coordinates():
    longitude=round(random.uniform(130, 140), 7)
    latitude = round(random.uniform(45, 50), 7)
    return longitude,latitude


def get_area():
    return random.randint(0, partition_nums-1)

# 单条SQL 废弃
# for _ in range(num_points):
#     id=generate_id()
#     utc=generate_utc()
#     lon,lat=generate_coordinates()
#     area = get_area()
#     sql = f'''INSERT INTO time_series  \
#     PARTITION (area={area})\
#     VALUES ({id},cast({utc} as timestamp), {lon}, {lat});\n'''\
#     .format(id=id).format(utc=utc).format(lon = lon).format(lat = lat).format(area = area)
#     spark.sql(sql)

# 生成csv文件

# 初始化10个writer

csv_writers = []

file = open(f'./data/area.csv','w',newline="") 
writer = csv.writer(file)
    
for _ in range(num_points):
    id=generate_id()
    utc=generate_utc()
    lon,lat=generate_coordinates()
    area = get_area()
    writer.writerow([id,utc,lon,lat,area])

print(f"Generate {num_points} rows data")

Generate 1000000 rows data

In [5]:
spark.sql("DROP TABLE IF EXISTS time_series_external;")
spark.sql("CREATE TABLE IF NOT EXISTS time_series_external\
          (id string,\
          time string,\
          lon string,\
          lat string,\
          area string)\
        ROW FORMAT DELIMITED\
        FIELDS TERMINATED BY ',';")
    
sql = f"load data local inpath './data/area.csv' into table time_series_external ;"
print(sql)
spark.sql(sql)

# 查看一条数据
result = spark.sql("SELECT * FROM time_series_external LIMIT 1")
result.show()

load data local inpath './data/area.csv' into table time_series_external ;
+-----------+----------+-----------+----------+----+
|         id|      time|        lon|       lat|area|
+-----------+----------+-----------+----------+----+
|11226318098|1708963788|138.6013904|47.5320286|   4|
+-----------+----------+-----------+----------+----+

In [6]:
sql = '''
SELECT
 cast(id as bigint) as id,
 cast(cast(time as int) as timestamp) as time,
 cast(lon as float) as lon,
 cast(lat as float) as lat,
 cast(area as int) as area
FROM time_series_external;
'''
print(sql)
result = spark.sql(sql)
result.show()

SELECT
 cast(id as bigint) as id,
 cast(cast(time as int) as timestamp) as time,
 cast(lon as float) as lon,
 cast(lat as float) as lat,
 cast(area as int) as area
FROM time_series_external;

+-----------+-------------------+---------+---------+----+
|         id|               time|      lon|      lat|area|
+-----------+-------------------+---------+---------+----+
|11226318098|2024-02-26 16:09:48| 138.6014| 47.53203|   4|
|11079170147|2024-02-26 16:09:48|131.38918|49.177216|   5|
|11484559578|2024-02-26 16:09:48|130.19557|47.459663|   8|
|11816332695|2024-02-26 16:09:48|131.74095| 45.61495|   3|
|11216044879|2024-02-26 16:09:48| 135.5531| 47.22836|   5|
|11876125847|2024-02-26 16:09:48|131.17789|45.085922|   1|
|11940353303|2024-02-26 16:09:48| 137.9385|  48.9933|   9|
|11443084087|2024-02-26 16:09:48|130.43713|48.770252|   1|
|11214990334|2024-02-26 16:09:48|138.10158|49.120865|   2|
|11688093238|2024-02-26 16:09:48|137.89381|46.425632|   8|
|12082104585|2024-02-26 16:09:48|139.02649|46.075886|   6|
|11413735559|2024-02-26 16:09:48|134.72487|49.175903|   8|
|11531323609|2024-02-26 16:09:48|133.21303|48.589687|   6|
|11816424597|2024-02-26 16:09:48|134.42622|49.841515|   2|
|11983321483|2024-02-26 16:09:48|136.68536| 46.32456|   7|
|11825067057|2024-02-26 16:09:48|138.19254|  45.7442|   7|
|11537590803|2024-02-26 16:09:48|136.43675| 47.09099|   6|
|12067811201|2024-02-26 16:09:48| 130.9565| 49.60392|   2|
|11833345136|2024-02-26 16:09:48| 133.4132|46.267418|   6|
|11268428725|2024-02-26 16:09:48|132.42873| 45.68726|   6|
+-----------+-------------------+---------+---------+----+
only showing top 20 rows

In [7]:
# external => main 

# see https://stackoverflow.com/questions/62607279/how-to-load-a-csv-file-containing-time-string-value-to-timestamp-in-hive

sql = '''
INSERT INTO time_series partition(area)
SELECT
 cast(id as bigint) as id,
 cast(cast(time as int) as timestamp) as time,
 cast(lon as float) as lon,
 cast(lat as float) as lat,
 cast(area as int) as area
FROM time_series_external;
'''
print(sql)
result = spark.sql(sql)
result.show()

# 查看一条数据
result = spark.sql("SELECT * FROM time_series LIMIT 1")
result.show()

INSERT INTO time_series partition(area)
SELECT
 cast(id as bigint) as id,
 cast(cast(time as int) as timestamp) as time,
 cast(lon as float) as lon,
 cast(lat as float) as lat,
 cast(area as int) as area
FROM time_series_external;

++
||
++
++

+-----------+-------------------+---------+--------+----+
|         id|               time|      lon|     lat|area|
+-----------+-------------------+---------+--------+----+
|11390684443|2024-02-26 16:09:53|134.94762|49.55374|   7|
+-----------+-------------------+---------+--------+----+

In [8]:
# 插入 job 表数据
def generate_utc_start():
    date_string = "2022-01-01 10:00:00"
    timestamp = time.strptime(date_string, "%Y-%m-%d %H:%M:%S")
    return int(time.mktime(timestamp))


def generate_utc_end():
    date_string = "2025-01-01 10:00:00"
    timestamp = time.strptime(date_string, "%Y-%m-%d %H:%M:%S")
    return int(time.mktime(timestamp))

utc_st = generate_utc_start()
utc_end = generate_utc_end()
sql = f"INSERT INTO job (id, start_time, end_time) VALUES (1, cast({utc_st} as timestamp), cast({utc_end} as timestamp));"
print(sql)
spark.sql(sql)

INSERT INTO job (id, start_time, end_time) VALUES (1, cast(1641031200 as timestamp), cast(1735725600 as timestamp));

DataFrame[]

In [9]:
# 查看数据量
result = spark.sql("SELECT COUNT(*) as cnt FROM time_series")
result.show()

+------+
|   cnt|
+------+
|999947|
+------+

In [10]:
# 查看一条数据
result = spark.sql("SELECT * FROM time_series LIMIT 1")
result.show()

+-----------+-------------------+---------+---------+----+
|         id|               time|      lon|      lat|area|
+-----------+-------------------+---------+---------+----+
|11831013073|2024-02-26 16:09:48|136.19029|47.386803|   0|
+-----------+-------------------+---------+---------+----+

In [12]:
# 查看分区数目
result = spark.sql("SHOW PARTITIONS time_series;")
result.show()

+---------+
|partition|
+---------+
|   area=0|
|   area=1|
|   area=2|
|   area=3|
|   area=4|
|   area=5|
|   area=6|
|   area=7|
|   area=8|
|   area=9|
+---------+